.head{
    /* background-color:rgb(87, 177, 233); */
    color: white;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 200px;

}
.forum{
    display: flex;
    flex-direction: column;
}
